// Import Bootstrap Variables
@import "node_modules/bootstrap/scss/variables";

#btnAddCompareLoan {
	height: 391px;

	.card-block {
		margin-top: -45px;
	    position: relative;
	    top: 50%;
	    text-align: center;
	}
}

button.close {
	font-size: inherit;
}

.card-block {
	.form {
		margin-bottom: 15px;
	}
}

p {
	strong {
		font-size: $font-size-lg;
	}
}