<div class="sub-header">
	<div class="container">
		<h2>Current auto loan information:</h2>

		<div class="row">
			<div class="col-xs-4">
				<form>
					<label class="sr-only" for="currentLoanAmount">Loan Balance (in dollars)</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type="text" class="form-control" id="currentLoanAmount" placeholder="Loan Balance">
					</div>

					<br>

					<label class="sr-only" for="currentAPR">Annual Percentage Rate</label>
					<div class="input-group">
						<input type="text" class="form-control" id="currentAPR" placeholder="Annual Percentage Rate (APR)">
						<div class="input-group-addon">%</div>
					</div>

					<br>

					<label class="sr-only" for="currentLoanAmount">Term (number of months)</label>
					<div class="input-group">
						<input type="text" class="form-control" id="currentTerms" placeholder="Term">
						<div class="input-group-addon">Months</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
