<div class="sub-header">
	<div class="container">
		<h2>Current auto loan information:</h2>

		<div class="row">
			<div class="col-xs-4">
				<form class="form">
					<label class="sr-only" for="currentLoanAmount">Loan Balance (in dollars)</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type="number" class="form-control" id="currentLoanAmount" [(ngModel)]="currentAutoLoan.balance" placeholder="Loan Balance" name="currentLoanBalance">
					</div>

					<br>

					<label class="sr-only" for="currentAPR">Annual Percentage Rate</label>
					<div class="input-group">
						<input type="number" class="form-control" id="currentAPR" [(ngModel)]="currentAutoLoan.apr" placeholder="Annual Percentage Rate (APR)" name="currentLoanAPR">
						<div class="input-group-addon">%</div>
					</div>

					<br>

					<label class="sr-only" for="currentLoanAmount">Term (number of months)</label>
					<div class="input-group">
						<input type="number" class="form-control" [(ngModel)]="currentAutoLoan.term" id="currentTerms" placeholder="Term" name="currentLoanTerm">
						<div class="input-group-addon">Months</div>
					</div>
				</form>
			</div>
			<div class="col-xs-3">
				<p><strong>${{calcMonthlyPayment(currentAutoLoan) | number:'1.2-2'}}</strong> <small>/month</small></p>

				<p><strong>${{calcTotalInterest(currentAutoLoan) | number:'1.2-2'}}</strong> <small>/total interest</small></p>

				<p><strong>${{calcTotalCost(currentAutoLoan) | number:'1.2-2'}}</strong> <small>/total cost of loan</small></p>
			</div>
			<!-- <div class="col-xs-5">
				<trend-chart-component [config]="trendChartConfig"></trend-chart-component>
			</div> -->
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-3" *ngFor="let autoLoan of comparisonLoans">
			<div class="card">
				<h3 class="card-header">
					<span *ngIf="!editing" (click)="editing = true">{{autoLoan.label}}</span>
					<form *ngIf="editing" (submit)="editing = false">
						<label class="sr-only" attr.for="autoLoanLabel_{{index}}">Auto loan label</label>
						<input type="text" class="form-control form-control-sm" id="autoLoanLabel_{{index}}" [(ngModel)]="autoLoan.label" placeholder="Label" (blur)="editing = false" name="autoLoanLabel">
					</form>

					<span *ngIf="!editing">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeComparisonLoan(autoLoan.id)"><span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>

				<div class="card-block">
					<form class="form">
						<label class="sr-only" attr.for="autoLoanAmount_{{index}}">Loan Balance (in dollars)</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input type="number" class="form-control" id="autoLoanAmount_{{index}}" [(ngModel)]="autoLoan.balance" placeholder="Loan Balance" name="autoLoanBalance">
						</div>

						<br>

						<label class="sr-only" attr.for="autoLoanAPR_{{index}}">Annual Percentage Rate</label>
						<div class="input-group">
							<input type="number" class="form-control" id="autoLoanAPR_{{index}}" [(ngModel)]="autoLoan.apr" placeholder="Annual Percentage Rate (APR)" name="autoLoanAPR">
							<div class="input-group-addon">%</div>
						</div>

						<br>

						<label class="sr-only" attr.for="autoLoanTerm_{{index}}">Term (number of months)</label>
						<div class="input-group">
							<input type="number" class="form-control" [(ngModel)]="autoLoan.term" id="autoLoanTerm_{{index}}" placeholder="Term" name="autoLoanTerm">
							<div class="input-group-addon">Months</div>
						</div>
					</form>

					<p><strong>${{calcMonthlyPayment(autoLoan) | number:'1.2-2'}}</strong> <small>/month</small></p>

					<p><strong>${{calcTotalInterest(autoLoan) | number:'1.2-2'}}</strong> <small>/total interest</small></p>

					<p><strong>${{calcTotalCost(autoLoan) | number:'1.2-2'}}</strong> <small>/total cost of loan</small></p>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div id="btnAddCompareLoan" class="card" tabindex="0" role="button" (click)="addComparisonLoan()">
				<div class="card-block text-uppercase">
					Add a loan to compare
				</div>
			</div>
		</div>
	</div>
</div>