// Import Bootstrap Variables
@import "node_modules/bootstrap/scss/variables";

.sub-header {
	padding: 30px 0;
	margin-bottom: 30px;
	background-color: rgb(31, 77, 145);
	color: #fff;
}

#btnAddCompareLoan {
	height: 391px;

	.card-block {
		margin-top: -45px;
	    position: relative;
	    top: 50%;
	    text-align: center;
	}
}

button.close {
	font-size: inherit;
}

.card-block {
	.form {
		margin-bottom: 15px;
	}
}

p {
	strong {
		font-size: $font-size-lg;
	}
}