.splash-img {
	background-color: #235392;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
    overflow: hidden;

    img {
    	width: 100%;
    	position: fixed;
  		bottom: 0;
    }
}

.tool-info {
	color: #fff;
	margin-top: 100px;

	p {
		color: rgba(255, 255, 255, 0.5);
	}
}