.chart-container {
	.axis path,
	.axis line {
	    fill: none;
	    stroke: rgba(0, 0, 0, 0.2);
	    color: rgba(0, 0, 0, 0.2);
	    shape-rendering: crispEdges;
	}

	.axis text {
	    font-size: 11px;
	    fill: #fff;
	}

	.grid .tick {
	    stroke: rgba(0, 0, 0, 0.1);
	    opacity: 0.3;
	}

	.grid path {
	    stroke-width: 0;
	}

	.grid .tick {
	    stroke: rgba(0, 0, 0, 0.1);
	    opacity: 0.3;
	}

	.grid path {
	    stroke-width: 0;
	}

	.color-label{
	    display: inline;
	}
}