<h2>2016 Tax Bracket</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tax rate</th>
      <th>Single filers</th>
      <th>Married filing jointly or qualifying widow/widower</th>
      <th>Married filing separately</th>
      <th>Head of household</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10%</td>
      <td>Up to $9,275</td>
      <td>Up to $18,550</td>
      <td>Up to $9,275</td>
      <td>Up to $13,250</td>
    </tr>
    <tr>
      <td>15%</td>
      <td>$9,276 to $37,650</td>
      <td>$18,551 to $75,300</td>
      <td>$9,276 to $37,650</td>
      <td>$13,251 to $50,400</td>
    </tr>
    <tr>
      <td>25%</td>
      <td>$37,651 to $91,150</td>
      <td>$75,301 to $151,900</td>
      <td>$37,651 to $75,950</td>
      <td>$50,401 to $130,150</td>
    </tr>
    <tr>
      <td>28%</td>
      <td>$91,151 to $190,150</td>
      <td>$151,901 to $231,450</td>
      <td>$75,951 to $115,725</td>
      <td>$130,151 to $210,800</td>
    </tr>
    <tr>
      <td>33%</td>
      <td>$190,151 to $413,350</td>
      <td>$231,451 to $413,350</td>
      <td>$115,726 to $206,675</td>
      <td>$231,451 to $413,350</td>
    </tr>
    <tr>
      <td>35%</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>39.6%</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
  </tbody>
</table>