// Overwrite variables
$font-family-sans-serif: 'Open Sans', Arial, sans-serif;
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1rem;
$card-spacer-x: 1rem;

$input-border-color: #eee;

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Directive scss
.change {
	&.change-up,
	&.change-down {
		font-size: 11px;
		color: #fff;
		border-radius: 4px;
		padding: 3px 8px;
		display: inline-block;
		vertical-align: top;
    	margin-top: 4px;
    	margin-right: 5px;
	}

	&.change-up {
	    background-color: #5cb85c;
	}

	&.change-down {
		background-color: #d9534f;
	}
}