// Overwrite variables
$font-family-sans-serif: 'Open Sans', Arial, sans-serif;
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1rem;
$card-spacer-x: 1rem;

$input-border-color: #eee;

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";