<div class="sub-header">
	<div class="container">
		<div class="row">
			<div class="tool-info col-md-8 col-xl-5">
				<h2>Tax Savings Calculator</h2>
				<p>Did you know that an average American works from Jan. 1 through April 24 just to pay their taxes? Find out how much you pay for taxes and potentially reduce it!</p>
			</div>
			<div class="col-md-4 col-xl-7">
				<h2>2016 Tax Bracket</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<app-tax-bracket></app-tax-bracket>
	
	<form class="form">
		<label class="form-check-inline">
	  		<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Single
		</label>
		<label class="form-check-inline">
	  		<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Married Filing Jointly
		</label>
		<label class="form-check-inline">
	  		<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Married Filing Separately
		</label>
		<label class="form-check-inline">
	  		<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Head of Household
		</label>
	</form>
</div>